<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
    <form action="/new-post" method="post">
        <label for="">Titre du post</label>
        <input type="text" name="title" placeholder="ex:Alice au pays des merveilles">
        <br>

        <label for="">Auteur</label>
        <input type="text" name="author" placeholder="ex: John Doe">
        <br>

        <label for="">Description</label>
        <textarea name="desc" id="" cols="30" rows="10"></textarea>
        <br>

        <input type="submit" value="Creer un post">
    </form>
</body>
</html>